<div class="container">
  <div class="row">
    <mat-label><h1>Parent To Child</h1></mat-label>
  </div>
  <div class="row col-12">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Parent Component</mat-label>
      <input
        matInput
        placeholder="Value Send To Child       -       Type Here....."
        [(ngModel)]="message"
        name="message"
      />
    </mat-form-field>
    <mat-divider style="background-color: #2279bcc0"></mat-divider>
  </div>
 
  <div class="row col-12">
    <app-child-receive [getMessage]="message"></app-child-receive>
  </div>
</div>
