<br>
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Child Component</mat-label>
  <input
    matInput
    placeholder="Value Receive From Parent        -       Can't Type Here....."
    [(ngModel)]="getMessage"
    readonly
    name="getMessage"
  />
</mat-form-field>
