<div class="container">
  <div class="row">
    <mat-label><h1>Child To Parent</h1></mat-label>
  </div>
  <div class="row col-12">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Parent Component</mat-label>
      <input
        matInput
        placeholder="Value Receive From Child       -       Can't Type Here....."
        [(ngModel)]="getMessage"
        readonly
        name="getMessage"
      />
    </mat-form-field>
    <mat-divider style="background-color: #2279bcc0"></mat-divider>
  </div>

  <div class="row col-12">
    <app-child-send (event)="receiveFromChild($event)"></app-child-send>
  </div>
</div>
