<br />
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Child Component</mat-label>
  <input
    matInput
    placeholder="Value Send To Parent       -       Type Here....."
    [(ngModel)]="message"
    name="message"
    (keyup)="sendToParent()"
  />
</mat-form-field>
